<div class="flashmessage">
	<% flash.each do |k, v| %>
		<%= v %>
	<% end %>
</div>


<%= form_tag do %>
	<div class="form-group login">
		<div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-lg btn-default">Log In</button>
	</div>
<% end %>